<div tabindex="-1" role="dialog" aria-labelledby="addDropLabel">
	<form action="/drop/" method="POST" id="addDropForm">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="addDropLabel">Add Drop</h3>
		</div>
		<div class="modal-body">
			<label>Event</label>
			<select name="event">
				{{#each events}}
					<option value="{{this.id}}">{{this.date}}</option>
				{{/each}}
			</select>
			<label>Player</label>
			<select name="player">
				{{#each players}}
					<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
			<label>Item</label>
			<select name="item">
				{{#each items}}
					<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
			<label>Boss</label>
			<select name="boss">
				{{#each bosses}}
					<option value="{{this.id}}">{{this.zone}}: {{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>
</div>
