<tr>
	<td class="{{ player.class|cssClass }}">{{ player.name }}</td>
	<td class="center">{{ player.ilvl }}</td>
	{% for data in events %}
		{% if data.id is keyin(player.events) %}
			<td><div rel="tooltip" data-original-title="{{ player.events[data.id].status|lower|ucwords }}" class="{{ player.events[data.id].status|cssClass }} icon ir">{{ player.events[data.id].status|lower|ucwords }}</div></td>
		{% else %}
			<td></td>
		{% endif %}
	{% endfor %}
</tr>
