<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ config.guild.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="css/raidtracker.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".navbar">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="./" class="brand">{{ config.guild.name }}</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="#home">Home</a></li>
							<li><a href="#attendance">Raid Attendance</a></li>
							<li><a href="#loot">Loot History</a></li>
						</ul>
					</div>
					<div class="nav-collapse collapse pull-right">
						<ul class="nav">
							{% if user is not null %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>qwe</li>
									</ul>
								</li>
							{% else %}
								<li><a id="login" href="javascript:void(0)">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="home" class="hero-unit">
			<div class="container">
				<h1>{{ config.guild.name }} <small>{{ config.guild.realm }}-{{ config.guild.region }}</small></h1>
				<p><em>Raid Attendance and Loot History</em></p>
			</div>
		</div>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		<footer class="footer">
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>Running Raid Tracker {{ VERSION }}, developed with love by <a href="http://jyggen.com/" target="_blank">jyggen</a>. Open-sourced and available for free on <a href="https://github.com/jyggen/raidtracker" target="_blank">GitHub</a>.</p>
			</div>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//login.persona.org/include.js"></script>
		<script src="//static-azeroth.cursecdn.com/current/js/syndication/tt.js"></script>
		<script src="js/can.jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/raidtracker.js"></script>
		<script>
		var currentUser = null;
		$('#attendance').tooltip({
		  selector: "div[rel=tooltip]"
		});
		$('#login').on('click', function(){
			navigator.id.request();
		});
		$('#logout').on('click', function(){
			navigator.id.logout();
		});
		navigator.id.watch({
			loggedInUser: currentUser,
			onlogin: function(assertion) {
				$.ajax({
					type   : 'POST',
					url    : '/login',
					data   : {assertion: assertion},
					success: function(res, status, xhr) { window.location.reload(); },
					error  : function(xhr, status, err) { alert("login failure"); }
				});
			},
			onlogout: function() {
				$.ajax({
					type   : 'POST',
					url    : '/logout',
					success: function(res, status, xhr) { window.location.reload(); },
					error  : function(xhr, status, err) { alert("logout failure"); }
				});
			}
		});
		</script>
	</body>
</html>

