<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ config.guild.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="css/raidtracker.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".spyit">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="./" class="brand">{{ config.guild.name }}</a>
					<div class="nav-collapse collapse spyit">
						<ul class="nav">
							<li><a href="#home">Home</a></li>
							<li><a href="#attendance">Raid Attendance</a></li>
							<li><a href="#loot">Loot History</a></li>
						</ul>
					</div>
					<div class="nav-collapse collapse pull-right">
						<ul class="nav">
							{% if user is not null %}
								<li class="dropdown">
									<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										{% if user.admin %}
											<li><a href="javascript:void(0)" id="addDrop">Add Drop</a></li>
											<li><a href="javascript:void(0)" id="addEvent">Add Event</a></li>
											<li><a href="javascript:void(0)" id="addItem">Add Item</a></li>
											<li><a href="#addPlayer" data-toggle="modal">Add Player</a></li>
											<li class="divider"></li>
										{% endif %}
										<li><a id="logout" href="javascript:void(0)">Logout</a></li>
									</ul>
								</li>
							{% else %}
								<li><a id="login" href="javascript:void(0)">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="home" class="hero-unit">
			<div class="container">
				<h1>{{ config.guild.name }} <small>{{ config.guild.realm }}-{{ config.guild.region }}</small></h1>
				<p><em>Raid Attendance and Loot History</em></p>
			</div>
		</div>
		<div class="container">
			<div id="notification-holder"></div>
			<div id="attendance">
				<div class="page-header">
					<h2>Raid Attendance <small>or <em>Who's slacking?</em></small></h2>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Player</th>
							<th class="center">ilvl</th>
							{% for key, data in events %}
								<th class="center">{{ data.date|date("M jS") }}</th>
							{% endfor %}
							<th class="center">Total</th>
							<th class="center">Karma</th>
						</tr>
					</thead>
					<tbody>
						{% for player in players %}
							{% include "attendance.twig" %}
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td>{{ players|length }} Raiders</td>
							<td class="center">{{ players|avg('ilvl') }}</td>
							<td class="center" colspan="{{ events|length + 1 }}"></td>
							<td class="center">{{ karma }}</td>
						</tr>
					</tfoot>
				</table>
			</div>

			<div id="loot">
				<div class="page-header">
					<h2>Loot History <small>or <em>Who ninja'd what?</em></small></h2>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Player</th>
							<th>Item</th>
							<th>Zone</th>
							<th>NPC</th>
						</tr>
					</thead>
					<tbody>
						{% for drop in drops %}
							{% include "loot.twig" %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>Running Raid Tracker {{ VERSION }}, developed with love by <a href="http://jyggen.com/" target="_blank">jyggen</a>. Open-sourced and available for free on <a href="https://github.com/jyggen/raidtracker" target="_blank">GitHub</a>.</p>
			</div>
		</footer>

		<div id="modal-holder" class="modal hide fade" aria-hidden="true"></div>

		<script>
		{% if user is not null %}
			var currentUser = "{{ user.email }}";
		{% else %}
			var currentUser = null;
		{% endif %}
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//login.persona.org/include.js"></script>
		<script src="//static-azeroth.cursecdn.com/current/js/syndication/tt.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/handlebars.runtime-1.0.rc.1.min.js"></script>
		<script src="/js/jquery.scrollTo.min.js"></script>
		<script src="/js/raidtracker.js"></script>
		<script src="/tpl/addDrop.js"></script>
		<script src="/tpl/addEvent.js"></script>
		<script src="/tpl/addItem.js"></script>
		<script src="/tpl/error.js"></script>
		<script src="/tpl/success.js"></script>
	</body>
</html>
